.example-form-field{

}
p{
  font-size: 16px;
}


form{
  width: 400px;
}

.but2{
  margin-left: 90px;
}
mat-form-field{ width: 100%;}
.spinner{
  margin-top: 50px;
  width: 400px;
  position: absolute;
  z-index: 99999;
}

